.first{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #8FBC3E;
	text-align: center;
	color: #FFFFFF
}
.about{
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #A7BCCE;
}
.contact{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #8FBC3E;
	text-align: center;
	color: #FFFFFF	
}
.cpr{
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}
hr{
	background-color: #FFFFFF; 
	height: 1px; 
	border: 0;
}