.first{
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #8FBC3E;
	text-align: center;
	color: #FFFFFF
}
.about{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 100px;
	padding-left: 100px;
	background-color: #A7BCCE;
	font-family: Trebuchet MS;
	color: #606467;
}
.edu{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #7CA4B9;
	font-family: Trebuchet MS;
	color: #606467;
}
.skill{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #98B7C8;
	font-family: Trebuchet MS;
	color: #606467;
}
.proj{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #9DA1DF;
	font-family: Trebuchet MS;
	color: #606467;
}
.act{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #A7BCCE;
	font-family: Trebuchet MS;
	color: #606467
}
.contact{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 100px;
	padding-left: 100px;
	background-color: #8FBC3E;
	text-align: center;
	color: #FFFFFF	
}
.cpr{
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
}
hr{
	background-color: #FFFFFF; 
	height: 1px; 
	border: 0;
}
ul.a{
	list-style-position: outside;
}