.navbar{
	font-family: 'Courgette', cursive;
}
#first{
	padding-top: 30px;
	padding-bottom: 30px;
	background-image: url("banner-blue-background.png");
	text-align: center;
	color: #FFFFFF;
	font-family: 'Lobster', cursive;
}
#about{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #EDF2F0;
	font-family: 'Trebuchet MS';
	color: #606467;
}
#edu{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #A2CEEB;
	font-family: Trebuchet MS;
	color: #606467;
}
#skill{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #EDF2F0;
	font-family: Trebuchet MS;
	color: #606467;
}
#proj{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #A2CEEB;
	font-family: Trebuchet MS;
	color: #606467;
}
#act{
	padding-top: 50px;
	padding-bottom: 50px;
	padding-right: 200px;
	padding-left: 200px;
	background-color: #EDF2F0;
	font-family: Trebuchet MS;
	color: #606467
}
#contact{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 100px;
	padding-left: 100px;
	background-image: url("banner-blue-background.png");
	text-align: center;
	color: #FFFFFF	
}
.cpr{
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	font-family: 'Courgette', cursive;
}
hr{
	background-color: #FFFFFF; 
	height: 1px; 
	border: 0;
}
ul.a{
	list-style-position: outside;
}
@media screen and (max-width: 980px){
	#first{
		padding-left: 30px;
		padding-right: 30px;
	}
	#about{
		padding-left: 30px;
		padding-right: 30px;
	}
	#edu{
		padding-left: 30px;
		padding-right: 30px;
	}
	#skill{
		padding-left: 30px;
		padding-right: 30px;
	}
	#proj{
		padding-left: 30px;
		padding-right: 30px;
	}
	#act{
		padding-left: 30px;
		padding-right: 30px;
	}
	#contact{
		padding-left: 30px;
		padding-right: 30px;
	}
	.cpr{
		padding-left: 30px;
		padding-right: 30px;
	}
}